*{
    margin: 0;
    padding: 0;
}
html { 
    font-size: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white url(hiroshi\ sugimoto\ horizon.jpg) no-repeat 50% 350px;
}

h1,h2{
    text-align: center;
}

h1{
    font:bold 1.8;
    
}

h2{
    font: bold 4.2rem;
    
}

.navigation-bar{
    
    background: rgb(132, 175, 189);
}

.navigation-list{
    
    display: flex;
    margin-left: 1rem;

}

.navigation-list a{
    padding: 2rem;
}

#welcome-page{
    background-color: green;
    text-align: center;
}



